services:
  api:
    container_name: backend

    volumes:
      - ./backend:/var/www/html
      - /var/www/html/vendor
    command: apache2-foreground
    env_file:
      - ./backend/.env
    networks:
      - web
      - internal

  app:
    container_name: frontend

    volumes:
      - ./frontend:/app
      - /app/node_modules
      - /app/.pnpm-store
    command: pnpm run dev
    networks:
      - web
      - internal

networks:
  web:
    external: true
    name: web
  internal:
    internal: true


