services:
    api:
        build:
            context: ./backend
            target: dev
        ports:
            - "8000:80"
        volumes:
            - ./backend:/var/www/html
            - /var/www/html/vendor
        command: apache2-foreground
        env_file:
            - ./backend/.env
        networks:
            - web
            - internal

    app:
        build:
            context: ./frontend
            dockerfile: dockerfile
            target: dev
        ports:
            - "3000:3000"
        volumes:
            - ./frontend:/app
            - /app/node_modules
            - /app/.pnpm-store
        command: pnpm run dev
        networks:
            - web
            - internal

networks:
    web:
        external: true
        name: web
    internal:
        internal: true


