services:
  api:
    container_name: backend
    build:
      context: ./backend
      target: dev  # Default to dev, overridden in prod
    volumes:
      - ./backend:/var/www/html
      - backend_vendor:/var/www/html/vendor
    command: apache2-foreground
    env_file:
      - ./backend/.env
    networks:
      - web
      - internal

  app:
    container_name: frontend
    build:
      context: ./frontend
      dockerfile: dockerfile
      target: dev  # Default to dev, overridden in prod
    volumes:
      - ./frontend:/app
      - frontend_node_modules:/app/node_modules
      - frontend_pnpm_store:/app/.pnpm-store
    command: pnpm run dev
    networks:
      - web
      - internal

volumes:
  backend_vendor:
  frontend_node_modules:
  frontend_pnpm_store:

networks:
  web:
    external: true
    name: web
  internal:
    internal: true


