services:
    api:
        ports:
            - "8000:80"
        depends_on:
            - db
        build:
            context: ./backend
            target: dev

    app:
        ports:
            - "3000:3000"
        depends_on:
            - api
        build:
            context: ./frontend
            dockerfile: dockerfile
            target: dev
        command: pnpm run dev

    db:
        image: mariadb:10.6
        container_name: database
        restart: unless-stopped
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: flepourtous
            MYSQL_USER: flepourtous
            MYSQL_PASSWORD: 1234
        ports:
            - "3307:3306"
        volumes:
            - ./db_data:/var/lib/mysql
            - ./db:/docker-entrypoint-initdb.d
        networks:
            - web
            - internal

    phpmyadmin:
        profiles:
            - dev
        image: phpmyadmin/phpmyadmin
        container_name: phpmyadmin
        environment:
            PMA_HOST: db
            PMA_PORT: 3306
        ports:
            - "8081:80"
        depends_on:
            - db
        networks:
            - web
            - internal
volumes:
    db_data:
