name: flepourtous-preprod


services:
    api:
      build:
        context: ./backend
        target: prod
      container_name: flepourtous-backend-preprod
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.api-preprod.rule=Host(`api.flepourtous.plouzor.fr`)"
        - "traefik.http.routers.api-preprod.entrypoints=web,websecure"
        - "traefik.http.routers.api-preprod.tls.certresolver=le"
        - "traefik.http.services.api-preprod.loadbalancer.server.port=80"
        - "traefik.docker.network=web"
      networks:
        - web
        - internal

    app:
        build:
          context: ./frontend
          dockerfile: dockerfile
          target: runner
        container_name: flepourtous-frontend-preprod
        command: pnpm run start
        labels:
            - "traefik.enable=true"
            - "traefik.http.routers.app-preprod.rule=Host(`flepourtous.plouzor.fr`)"
            - "traefik.http.routers.app-preprod.entrypoints=web,websecure"
            - "traefik.http.routers.app-preprod.tls.certresolver=le"
            - "traefik.http.services.app-preprod.loadbalancer.server.port=3000"
            - "traefik.docker.network=web"
        networks:
          - web
          - internal

networks:
  web:
    external: true
    name: web
  internal:
    internal: true

